footer {
    margin-top: 150px;
    padding: 30px;
    background-color: #23824A;
    h1 {
        color: white;
    }
    a {
        color: white;
        text-decoration: none !important;
    }
    ul.social li{
        padding: 3px 0;
    }
    ul.social li a i {
        margin-right: 5px;
        font-size:25px;
    }
    ul.social li a,
    ul.quick-links li a{
        color:white;
    }
}